#landing-page {
    background-image: url('img/landing-background.jpg');
    background-size: cover;
    position:absolute;
    top:0; left:0; width:100%; height:100%;    
    overflow: auto;
}

#login-page {
    background-image: url('img/login-background.png');
    background-size: cover;
    position:absolute;
    top:0; left:0; width:100%; height:100%;   
    overflow: auto;
}

#signin-page {
    background-image: url('img/signin-background.png');
    background-size: cover;
    position:absolute;
    top:0; left:0; width:100%; height:100%;   
    overflow: auto;
    text-align: center;
    display: grid;
    justify-items: center;
}

div.slide{
    position:fixed;
    top:0; left:0; width:100%; height:100%;
    overflow-y:scroll;
    opacity:0;
    transition:opacity 0.4s;
}

div.slide.hidden{
    opacity:0;
    z-index:1;
}

div.slide.visible{
    opacity:1;
    z-index:2;
}

#logo-gcf {
    position: relative;
    width: 60rem;
    height: auto;
    margin-top: 12%;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.7));
}

#logo-lpg {
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    height: auto;
}

.bottone {
    margin-top: 3rem;
    position: relative;
    font-weight: bold;
    color: white;
    background: #7f00ff;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 10rem;
    height: 3rem;
    transition: all 0.5s ease;
    font-size: 1rem;
}
#bottoneReg{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    font-weight: bold;
    color: white;
    background: #7f00ff;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 10rem;
    height: 3rem;
    transition: all 0.5s ease;
    font-size: 1rem;
}
.bottone:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
}
#bottoneReg:hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
}

#login-box {
    text-align: center;
    background-color: rgba(0, 2, 117, 0.582);
    width: 30rem;
    height: 33rem;
    position: absolute;
    right: 5rem;
    top: 7rem;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#signin-box {
    text-align: center;
    background-color: rgba(0, 2, 117, 0.582);
    width: 50rem;
    height: 30rem;
    margin-top: 5rem;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-login {
    width: 20rem;
    height: auto;
    margin-top: 1rem;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}
.sign{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
    background-color: lightgrey;
}
.selectsign{
    width: 21rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
    background-color: lightgrey;
}
.login {
    width: 96%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
    background-color: lightgrey;
}
table{
    width:100%;
}
